@theme {
  --color-secondary: #ed8762;
  --color-diyagray: #eee4db;
  --color-tertiary: #fffbf5;
}

@import "tailwindcss";

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;

}

main {
  margin: 0 !important;
  padding: 0 !important;
}